<!DOCTYPE html>
<!--各民宿の詳細ページ-->
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<!-- metaフラグメント -->
	<div th:replace="~{fragment :: meta}"></div>
	<!-- linkフラグメント -->
	<div th:replace="~{fragment :: styles}"></div>
	<title>民宿詳細</title>
</head>

<body>

	<!--ページ全体のレイアウト-->
	<div class="moattravel-wrapper">


		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>


		<!--メインコンテンツ-->
		<main>

			<!--メインコンテンツのレイアウト-->
			<div class="container pt-4 pb-5 moattravel-container">
				<div class="row justify-content-center">
					<div class="col-xl-5 col-lg-6 col-md-8">


						<!--パンくずリストレイアウト-->
						<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">

							<!--リスト-->
							<ol class="breadcrumb mb-0">

								<li class="breadcrumb-item"><a th:href="@{/admin/houses}">民宿一覧</a></li>
								<li class="breadcrumb-item active" aria-current="page">民宿詳細</li>

							</ol>

						</nav>

						<!--民宿名-->
						<h1 class="mb-4 text-center" th:text="${house.getName()}"></h1>

						<!--編集ボタン-->
						<div class="d-flex justify-content-end align-items-end mb-3">
							<div>
								<a href="#">編集</a>
							</div>
						</div>

						<!--民宿TOP画像表示(imageがなければ"NO IMAGE"画像を表示)-->
						<div class="mb-3">
							<img th:if="${house.getImageName()}" th:src="@{/storage/__${house.getImageName()}__}"
								class="w-100" alt="民宿画像">
							<img th:unless="${house.getImageName()}" th:src="@{/images/noImage.png}" class="w-100"
								alt="NO IMAGE">
						</div>

						<!--民宿詳細欄のレイアウト-->
						<div class="container mb-4">


							<!--ID欄のレイアウト-->
							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">ID</span>
								</div>
								<div class="col">
									<span th:text="${house.getId()}"></span>
								</div>
							</div>


							<!--民宿名欄のレイアウト-->
							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">民宿名</span>
								</div>
								<div class="col">
									<span th:text="${house.getName()}"></span>
								</div>
							</div>

							<!--説明欄のレイアウト-->
							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">説明</span>
								</div>
								<div class="col">
									<span class="moattravel-pre-wrap" th:text="${house.getDescription()}"></span>
								</div>
							</div>

							<!--宿泊料金欄のレイアウト-->
							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">宿泊料金</span>
								</div>
								<div class="col">
									<span
										th:text="${#numbers.formatInteger(house.getPrice(), 1, 'COMMA') + '円'}"></span>
								</div>
							</div>


							<!--定員欄のレイアウト-->
							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">定員</span>
								</div>
								<div class="col">
									<span th:text="${house.getCapacity() + '人'}"></span>
								</div>
							</div>

							<!--郵便番号欄のレイアウト-->
							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">郵便番号</span>
								</div>
								<div class="col">
									<span th:text="${house.getPostalCode()}"></span>
								</div>
							</div>

							<!--住所欄のレイアウト-->
							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">住所</span>
								</div>
								<div class="col">
									<span th:text="${house.getAddress()}"></span>
								</div>
							</div>

							<!--電話番号欄のレイアウト-->
							<div class="row pb-2 mb-2 border-bottom">
								<div class="col-4">
									<span class="fw-bold">電話番号</span>
								</div>
								<div class="col">
									<span th:text="${house.getPhoneNumber()}"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>


		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<!-- Bootstrap -->
	<div th:replace="~{fragment :: scripts}"></div>
</body>

</html>